html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #fafafa;
    margin-bottom: 50px;

}

nav {
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 8px 0px;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-left: 5em;
    color: rgb(5, 5 ,5);
}

.item {
    color: rgb(5, 5, 5);
}

#menu-icon {
    color: #000;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.search-bar {
    width: 70%;
    height: 50px;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.filter-options {
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    width: 150px;
    display: flex;
    align-items: center;
}

#option {
    margin-left: 5px;
    font-size: 14px;
}

#option:hover {
    cursor: pointer;
}

.filter-options > ul {
    display: none;
    list-style: none;
    margin-top: 0;
    border-radius: 10px;
    position: absolute;
    background-color: #fafafa;
    width: 200px;
    padding: 0;
    
}

.filter-options.show > ul {
    display: block;
    margin-top: 369px;
}


.filter-options > ul > li {
    border-bottom: 1px solid #d8d8d8;
    width: 170px;
    padding: 10px 15px;
    color: #868686;
    height: 100%;
    font-size: 14px;
}

.selected::before {
    content: " ";
    position: absolute;
    background: #00926A;
    width: 5px;
    height: 37.5px;
    left: 0;
}

.filter-options > ul > li:nth-child(1)::before {
    border-top-left-radius: 10px;
}

.filter-options > ul > li:nth-child(8)::before {
    border-bottom-left-radius: 10px;
}

.values:hover {
    background: rgba(196, 191, 191, 0.5);
    cursor: pointer;
}

.values:nth-child(1):hover {
    border-top-right-radius: 10px;
}


.values:nth-child(8):hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.values:hover::before {
    content: " ";
    position: absolute;
    background: #00926b8a;
    width: 5px;
    height: 38px;
    left: 0;
}

.values:nth-child(8):hover::before {
    border-bottom-left-radius: 10px;
    bottom: .5px;
}

.filter-options > ul > li:nth-child(8) {
    border-bottom: none;
    
}

#arrow {
    margin-left: 5px;
    transform: inverse;
    transition: all 0.5s;
    color: hsl(206, 75%, 39%, 0.9);
    font-size: 15px;
}

#arrow:hover {
    cursor: pointer;
}

.flip {
    transform: rotate(180deg);
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:50%;
}

input {
    background-color: #e4dede72;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

.cancha-info {
    height: 450px;
    margin-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 20px;
    align-content: center;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 8px 0px;
    transition: all 300ms;
}

.apply-filter {
    display:none;
}

.apply-searchFilter {
    display:none;
}

.not-found {
    display: none;
    height: 60vh;
    align-items: center;
}

.cancha-info:hover {
    transform: scale(1.1)
}

.picture {
    height: 450px;
    width: 90%;
    display:flex;

}

.picture img {
    height: 70%;
    width: 100%;
    border-radius: 5px;
    margin-top: 25px;
}

.description {
    width: 100%;
}

ul.icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

li i {
    margin-right: 10px;
}

.button {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
    height: calc(450px * 0.9 - 350px)
}

button {
    background-color: #00B04B;
    border: none;
    border-radius:3px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 120px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}