body {
    margin: 0; 
    background: #E8E269;
}

nav {
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 8px 0px;
    margin-bottom: 80px;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-left: 5em;
    color: rgb(5, 5 ,5);
}

.item {
    color: rgb(5, 5, 5);
}

#menu-icon {
    color: #000;
}

.title {
    margin: 20px 0px;
    font-family: 'Oswald', sans-serif;
}

h2.title {
    margin-bottom: 50px;
}

.content {
    display: grid;
    grid-template-columns: 30% 60%;
    margin: 0px;
    margin: 50px 75px;
}

.side {
    background: #010101;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top-left-radius: 50px;
}

form {
    width: 100%;
    align-self: center;
    background: rgb(221, 222, 203);
    padding: 20px 5%;
    border-bottom-right-radius: 50px;
}

div {
    display: flex;
    flex-direction: column;
}

.personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-bottom: 50px;
}

.ph-number {
    display: grid;
    grid-template-columns: 25% 65%;
    grid-column-gap: 10%;
}

.location {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    column-gap: 50px;
    margin-bottom: 50px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    background-color: #F5F6F7;
    padding-left: 10px;
}

input:focus {
    border-color: #ccd0d5;
    outline: none;
}

label {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.dateOptions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
}

.bday {
    height: 35px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 1px solid #ccd0d5; 
    padding: 5px 10px;
}

.month {
    height: 35px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 1px solid #ccd0d5; 
    padding: 5px 10px;
}

.year {
    height: 35px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 1px solid #ccd0d5; 
    padding: 5px 10px;
}

#motivo {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ccd0d5;
    padding: 10px 10px;
}

.mensaje {
    height: 125px;
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid #ccd0d5;
    background-color: #F5F6F7;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px;
}

.mensaje:focus {
    border-color: #ccd0d5;
    outline: none;
}

.radio {
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.radio > span {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    padding: 10px 15px;
    width: 10rem;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    background: #fff;
}

.punto {
    display: flex;
    flex-direction: row;
    height: 15px;
}

.gender {
    margin-bottom: 0px;
    width: 80%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   

.button {
    width: 150px;
    height: 40px;
    margin-left: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.button:hover {
    cursor: pointer;
}

#clean {
    background-color:#1772EA;
}

#clean:hover {
    background-color: #fff;
    color: #1772ea;
    border: #1772ea 1px solid;
}

#send {
    background-color:#00B04B;
}

#send:hover {
    background-color: #fff;
    color: #00B04B;
    border: #00B04B 1px solid;
}

.error {
    color: red;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.input-error:focus {
    border: 1px solid red;
}

select:focus {
    border-color: #ccd0d5;
    outline: none;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal-show {
    opacity: 1;
    transition: opacity .6s;
    --transform: translateY(0);
}

.modal_container {
    margin: auto;
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    color: #00B04B;
    transform: var(--transform);
    transition: var(--transition);
}

.modal-img {
    height: 150px;
    width: 150px;
}
