body {
    margin: 0;
    overflow-x: hidden;
}

header {
    background-image: url(img/1629287252_471087_1632935001_noticiareportajes_grande.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    mix-blend-mode: overlay;
    opacity: 1;
    width: 100vw;
}

nav {
    width: 100%;
    background-color: rgba(30, 26, 26, 0.484);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-left: 5em;
    color: #fff;
}

ul {
    width: 70%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5em;
}

.menu {
    display: flex;
    text-align: center;
    padding: 1px 5px;
    position: relative;
    margin: 5px;
    margin-left: 3rem;
    width: 5em;
    height: 1.5em;
}

.item::before,
.item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(39, 178, 55, 0.705);
    width: 1.5px;
    height: 100%;
    transform: scaleY(0);
    transition: transform 0.3s;
    transition-delay: 0.6s;
}

.item::before {
    left: 100%;
    transform-origin: top;
}

.item::after {
    right: 0;
    transform-origin: bottom;
}

.item:hover::before,
.item:hover::after {
    transform: scaleY(1);
}

.item {
    text-decoration: none;
    padding: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}

.menu::before,
.menu::after {
    content: '';
    position: absolute;
    left: 0;
    background: rgba(39, 178, 55, 0.705);
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform 0.6s;
}

.menu::before {
    top: 0;
    transform-origin: left;
}

.menu::after {
    bottom: 0;
    transform-origin: right;
}

.menu:hover::before,
.menu:hover::after {
    transform: scaleX(1);
}

.section-1 {
    margin: 5em 20em;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
}

.title {
    display: grid;
    justify-content: flex-end;
    margin-right: 2em;
    opacity: 0;
    transform: translateX(-25%);
}

.title.scrolled {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1.5s;
}

.description {
    display: grid;
    margin-top: 5em;
    margin-right: 10em;
    width: 100%;
    opacity: 0;
    transform: translateX(25%)
}

.description.scrolled {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1.5s;
}

.section-3 {
    height: 40em;
}

.circle {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
    background-color: rgba(9, 85, 9, 0.842);
    display: flex;
    justify-content: center;
    opacity: 0;
}

.circle.scrolled {
    opacity: 1;
    animation: raise 1s;
}

@keyframes raise {
    from { 
        transform: translateY(100%)}
        
    to { 
        transform: translateY(0%)}
}

.circle h1 {
    height: 100%;
    width: 20%;
    display: inline-flex;
    align-items: center;
    font-size: 3em;
    color:#ffffff;
    padding: 0 2em;
}

.section-2 {
    display: flex;
    justify-content: center;
    /*background-image: url(img/pelota2.jpg);
    background-size: cover;*/
    padding: 5em;
}

.section-title {
    width: 20%;
    margin-right: 3em;
}

.left-arrow,
.right-arrow {
    align-self: center;
}

.carrousel {
    width: 60%;
    max-width: 40em;
    overflow-x: hidden;
    align-self: center;
}

.screen {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all 0.5s ease;
    transform: translateX(0%);
}

.link {
    padding: 0;
    margin: 0;
}

.picture {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.news {
    position: absolute;
    background-color: rgba(32, 31, 31, 0.65);
    margin-top: 19em;
    padding: .5em;
    width: 24.5%;
    height: 20%;
}

.news h2,
h4 {
    margin: 8px 0.5em;
    color: rgb(230, 225, 225);
}

.carrousel img {
    padding: 0;
    height: 25em;
    opacity: 0.9;
    width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.button {
    background-color: #ffffff;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.2em 0.5em;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.82);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.82);
}

.button.active {
    background-color: rgba(71, 79, 241, 0.856);
}

.footer {
    background-color: #202020;
    width: 100%;
    padding: 2.5em;
    display: grid;
    position: absolute;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 3em 2em 1em;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 0 2em;
}

.icons i {
    color: #4b4b4b;
}

hr {
    border: .5px solid;
    margin-bottom: 10px;
    color: #4b4b4b;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.main {
    color: #fff;
    font-size: 16px;
    margin-top: 0;
}

.secondary {
    margin: 0 2em 0 5px;
    color: #4b4b4b;
    font-size: 16px;

}

.text {
    display: flex;
    flex-direction: row;
    margin-left: 3em;
}

.text i {
    margin-top: 10px;
    color: #fff;
    margin-right: 5px;
}

p.show-map {
    align-items: end;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    margin-top: 0;
}

.location {
    margin: 10px;
    display: none;
}