html {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
}

body {
    margin: 0;
}

header {
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-position: top 35% center;
    background-size: cover;
    height: 100vh;
    opacity: 1;
    width: 100%;
}

.margin {
    background-image: url(./img/fondo-final.jpg);
    mix-blend-mode:darken;
    padding: 0px 15px;
}

.section-1 {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    border: 10px solid #fff;
    border-bottom: none;
}

.content {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    width: 70%;
    border: 10px solid #fff;
    border-top: 0;
    height: 450px;
}

.title {
    margin-top: 80px;
    justify-content: flex-end;
    margin-right: 2em;
    opacity: 0;
    transform: translateX(-25%);
    color: #fff;
    font-size: 1.8rem;
    color: #E8E269;
}

.about {
    margin-left: 50px;
}

.us {
    margin-left: 50px;
    margin-top: 20px;
}

.title.scrolled {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1.5s;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 10px;
    width: 90%;
    opacity: 0;
    transform: translateX(25%);
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(35, 12, 241, 0.712);
    font-size: 1.15rem;
    font-family: 'Asap', sans-serif;
}

.description.scrolled {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1.5s;
}

.semi-circle {
    border: 10px solid #fff;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content:center; 

}

.semi-circle > div{
    border: 10px solid #fff;
    border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
    border-top: none;
    height: 90px;
    width: 25%;
}

.section-3 {
    height: 450px;
    padding: 0px 10px;
    border: 10px solid #fff;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 60%;
    height: 100%;
    border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
    background-position: -18px;
    border: 10px solid #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    justify-content: center;
    opacity: 0;
}

.circle.scrolled {
    opacity: 1;
    animation: raise 1s;
}

@keyframes raise {
    from { 
        transform: translateY(100%)}
        
    to { 
        transform: translateY(0%)}
}

.circle h1 {
    height: 100%;
    width: 60%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color:#ffffff;
    font-family: 'Oleo Script', cursive;
}

#text-1, #text-2 {
    opacity: 0;
    font-size: 2.5em;
    background-image: linear-gradient(45deg,#dfc13f 0%,#dfc13f 35%,#E8E269 85%,#E8E269 100%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}


#text-1.scrolled {
    opacity: 1;
    animation: lightSpeedInLeft;
    animation-duration: 1.5s;
}

#text-2.scrolled {
    opacity: 1;
    animation: lightSpeedInRight;
    animation-duration: 1.5s;
}

.right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    justify-content: flex-end;
    margin-right: 20px;
}

.left {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-top: 0px;
    margin-left: 20px;
}

.center {
    margin: 0;
    border: 0;
    height: 15px;
    width: 100%;
    align-self: end;
    border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.center button {
    border: none;
    align-self: end;
    border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
    height: 100%;
    width: 25px;
    background-color: #fff;
    margin-bottom: -1px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    padding-top: 50px;
    border: 10px solid #fff;
    border-bottom: none;
    border-top: none;
}

.title-container {
    width: 70%;
    align-self: center;
    font-size: 20px;
    color: #fff;
}

.section-title {
    width: 100%;
    margin: 100px 3em 10px auto;
    text-align: center;
}

.section-subtitle {
    width: 100%;
    margin: 30px 3em 80px auto;
    font-size: 1.2em;
    text-align: center;
}

.carrousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-arrow,
.right-arrow {
    align-self: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #dfc13f;
}

.left-arrow:hover,
.right-arrow:hover {
    cursor: pointer;
}


.carrousel {
    width: 60%;
    max-width: 40em;
    overflow-x: hidden;
    align-self: center;
}

.screen {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all 0.5s ease;
    transform: translateX(0%);
}

.link {
    padding: 0;
    margin: 0;
}

.picture {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.news {
    position: absolute;
    background-color: rgba(32, 31, 31, 0.65);
    margin-top: 19em;
    padding: .5em;
    width: 24.5%;
    height: 20%;
}

.news h2,
h4 {
    margin: 8px 0.5em;
    color: rgb(230, 225, 225);
}

.carrousel img {
    padding: 0;
    height: 25em;
    width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.button {
    background-color: rgb(230, 224, 224);
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    margin: 0.2em 0.5em;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.82);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.82);
}

.button.active {
    background-image: url(./img/Dibujo\ para\ colorear\ Pelota\ de\ fútbol1.jfif);
    background-size: cover;
    padding: 0px;
}

.section-4 {
    padding: 0px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    border: 10px solid #fff;
    border-top: none;
    border-bottom: none;
}

.title-section-4 {
    margin-top: 70px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.info-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 200px;
}

.info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.5rem;
    color:#E8E269;
}

.info p {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Asap', sans-serif;
}

.map-container {
    height: 250px;
    width: 100%;
}

.map-container iframe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 1188px) {
    #text-1, #text-2 {
        font-size: 2em;
    }

    #text-2 {
        margin-top: 25px;
        margin-right: 15px;
    }
}

@media (max-width: 1042px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 500px;
    }

    .description {
        margin-top: 0;
    }

    .title {
        margin-top: 10px;
        margin-left: 0px;
        justify-content: start;
    }

    .about, .us {
        margin-left: 5px;
    }

    .margin {
        padding: 0;
    }

    #text-1, #text-2 {
        font-size: 1.8em;
    }

    .circle {
        height: 80%;
        margin-bottom: -10px;
    }

    .section-3 {
        align-items: flex-end;
    }

    .info-container {
        margin: 0 50px;
    }
}
    
    @media (max-width: 912px) {
        .margin {
            background-image: none;
            background-color: #008037;
        }

        .description {
            font-size: 1rem;
        }
    
        #text-1, #text-2 {
            font-size: 1.8em;
            margin-left: 15px;
        }
    
        .circle {
            height: 80%;
            margin-bottom: -10px;
        }
        
        .news {
            height: 25%;
            bottom: 4.5px
        }

        .news h2 {
            font-size: 18px;
        }

        .news h4 { 
            font-size: 16px;
        }
}

@media (max-width: 845px) {
    #text-1, #text-2 {
        font-size: 1.2em;
        margin-top: 0;
    }

    #text-2 {
        margin-top: 25px;
    }

    .circle {
        height: 60%;
    }

    .info-container {
        display: flex;
        flex-flow: row wrap;
    }

    .title-section-4 {
        text-align: -webkit-center;
    }

    .carrousel {
        width: 80%;
    }

}

@media (max-width: 600px) {
    .news {
        height: 10%;
    }

    .news h4 {
        display: none;
    }

    .circle {
        width: 100%;
    }

    .left-arrow,
.right-arrow {
        font-size: 0.6rem;
        margin-left: 5px;
        margin-right: 5px 
    }

    header {
        background-size: 100vw 100vh;
    }

}

@media (max-width:492px) {
    .content {
        width: 90%;
    }

    .description {
        font-size: 0.8rem;
    }

    .left-arrow,
    .right-arrow {
        display: none;
    }

    .carrousel {
        width: 90%;
    }

}